.number {
    display: inline-block;
    margin: 10px;
    border: 1px solid pink;
    box-shadow: 0 2px 2px pink;
    padding: 20px;
    border-radius: 50%;
}
.numbers {
    margin: 10px;
    padding: 20px;
}
button {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background: pink;

}
